<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>farmup</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href="/bootstrap.min.css" /> -->

  <link rel="icon" type="image/x-icon" href="/images/logo.png">
</head>

<body>
  <!-- Navbar  -->
  <div id="home">
    <img src="/images/banner-img.jpg" alt="">
    <nav class="">
      <a class="navbar-brand" href="#"><span id="logo" class="text-dark">farmup</span></a>
      <ul>
        <li>Home</li>
        <li>Featured</li>
        <li>How it's work</li>
        <li>Categories</li>
      </ul>
      <button>
        Sign Up
      </button>
    </nav>
    <h1>Join with us to increase your farm productivity.</h1>
    <div id="youare">
      <div id="youarefarmer" class="card-join">
        <button>Join as Farmer</button>
      </div>
      <div id="youarewholesale" class="card-join">
        <button>Join as WholeSaler</button>
      </div>
    </div>
  </div>
  <!-- Banner Image  -->
  <!-- <div class="bg banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="content text-center text-white">
        
        </p>
      </div>
    </div> -->


  </div>
  <script src="/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

</body>

</html>