<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>farmup</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    
    <link rel="icon" type="image/x-icon" href="./img/logo.png">
  </head>
  <body>
    <!-- Navbar  -->
    <div id="home">
      <img src="img/banner-img.jpg" alt="">
      <nav class="">
        <a class="navbar-brand" href="#"><span id="logo" class="text-dark">farmup</span></a>
        <ul>
          <li>Home</li>
          <li>Featured</li>
          <li>How it's work</li>
          <li>Categories</li>
        </ul>
        <button>
          Sign Up
        </button>  
      </nav>
      <h1>Join with us to increase your farm productivity.</h1>
      <div id="youare">
        <div id="youarefarmer" class="card-join">
          <button>Join as Farmer</button>
        </div>
        <div id="youarewholesale" class="card-join">
          <button>Join as WholeSaler</button>
        </div>
      </div>
    </div>
    <!-- Banner Image  -->
    <!-- <div class="bg banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="content text-center text-white">
        
        </p>
      </div>
    </div> -->


    </div>
    <script src="js/script.js"></script>
  </body>
</html>
