<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>farmup</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    
    <link rel="icon" type="image/x-icon" href="./img/logo.png">
  </head>
  <body>
    <!-- Navbar  -->
    <div id="home">
      <img src="img/banner-img.jpg" alt="">
    <nav class="navbar  navbar-expand-lg navbar-dark  background  background">
      <div class="container">
        <a class="navbar-brand" href="#"><span id="logo" class="text-dark">farmup</span></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0 " id="navbarNav">
          <div class="mx-auto"></div>
          <ul class="navbar-nav text-center ">
            <li class="nav-item">
              <a class="nav-link text-dark font-weight-bolder links" style="font-family:'Poppins', sans-serif ;" id="hov" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark font-weight-bolder links "  id="hov" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark font-weight-bolder links"  id="hov" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark font-weight-bolder links" id="hov"  href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark font-weight-bolder links"  id="hov" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <form action="" class="form"></form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>

    <!-- Banner Image  -->
    <!-- <div class="bg banner-image w-100 vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="content text-center text-white">
        
        </p>
      </div>
    </div> -->


    </div>
  
  </body>
</html>
