<%- include("./partials/header"); -%>

    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" href="css/signup.css">
    </head>
    <nav class="">
        <a class="navbar-brand" href="#"><span id="logo" class="text-dark">farmup</span></a>
        <ul>
            <li>Home</li>
            <li>Featured</li>
            <li>How it's work</li>
            <li>Categories</li>
        </ul>
        <button>
            Sign Up
        </button>
    </nav>
    <div id="form-container">
        <div>
            <img src="images/signup-img.png" class="d-block w-100 form-img" alt="...">
        </div>
        <form action="">
            <h1>Sign Up</h1>
            <label for="name">Name</label>
            <input type="text" name="name">
            <label for="email">Email</label>
            <input type="email" name="email">
            <label for="phoneno">Phone no.</label>
            <input type="tel">
        </form> 
    </div>

    </div>